.legal {
    padding-left: 5rem;
}

.legal h2 {
    padding-top: 2rem;
    font-size: 40px;
    padding-bottom: 1rem;
}

.legal hr {
    margin-bottom: 1rem;
}

.legal p {
    padding-bottom: 1rem;
}

.legal h3 {
    padding-bottom: 1rem;
}