.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    display: none !important;
}

.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.css-1bz26re-MuiTypography-root-MuiDatePickerToolbar-title {
    justify-content: center !important;
    padding: 1rem;
    text-align: center !important;
    margin-left: 15rem !important;
    width: 125px;
}